
.dashboard {
  position: relative;
  width: 100vw;
  min-height: 80vh;
  background-color: #fafafa;
  border-bottom: 1px solid $border;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  &-title {
    h1 {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 2rem;
    }
  }
  &-lessons {

  }
}