.li-lessons {
  width: 100vw;
  min-height: 80vh;
  height: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid $border;
  padding-top: 60px;
  padding-left: 10%;
  padding-right: 10%;
  &-title {
    padding: 15px;
    margin-bottom: 10px;
    h1 {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 2rem;
    }
  }
  &-content {
    width: 100%;
  }
  &-area {
    width: 100%;
  }
}

@media (max-width: 554px)
{
  .li-lessons{
    &-content {
      padding: 15px;
      h3 {
        font-size: 2rem;
        line-height: 1.5em;
      }
    }
    &-area {
      display: flex;
      flex-flow: column;
      align-items: center;
      .li-lesson-group {
        width: 200px;
        height: 230px;
        padding-bottom: 15px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        img {
          width: 150px;
        }
      }
      .lesson1 {
        background-color: $lesson1_color;
        transition: background-color .3s ease-in-out;
        &:hover {
          background-color: $lesson1_color_hover;
          transition: background-color .3s ease-in-out;
        }
      }
      .lesson2 {
        background-color: $lesson2_color;
        transition: background-color .3s ease-in-out;
        &:hover {
          background-color: $lesson2_color_hover;
          transition: background-color .3s ease-in-out;
        }
      }
      .lesson3 {
        background-color: $lesson3_color;
        transition: background-color .3s ease-in-out;
        &:hover {
          background-color: $lesson3_color_hover;
          transition: background-color .3s ease-in-out;
        }
      }
    }
    &-rate {
      &-group {
        width: 100%;
        display: flex;
      }
      &-container {
        width: 80%;
        height: 20px;
        padding: 5px;
      }
      &-background {
        width: 100%;
        height: 100%;
        border: 1px solid rgb(182, 182, 182);
        background-color: rgb(240, 240, 240);
        border-radius: 10px;
        position: relative;
      }
      &-indicator {
        width: 0%;
        transition: width 3s;
        height: 100%;
        background: linear-gradient(#cfffcf, #6fd36f, #6aca6a);
        border-radius: 10px;
        position: absolute;
      }
      &-percentage {
        display: inline-block;
        width: 20%;
        line-height: 20px;
        height: 100%;
        text-align: left;
        padding-left: 8px;
        font-size: 0.9rem;
      }
    }
  }
}

@media (min-width: 555px)
{
  .li-lessons {
    &-content {
      padding: 15px;
      display: flex;
      flex-flow: column;
      h3 {
        font-size: 2rem;
        line-height: 1.5em;
      }
    }
    &-area {
      .li-lesson-group {
        float: left;
        width: 200px;
        height: 230px;
        padding-bottom: 15px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        img {
          width: 150px;
        }
      }
      .lesson1 {
        background-color: $lesson1_color;
        transition: background-color .3s ease-in-out;
        &:hover {
          background-color: $lesson1_color_hover;
          transition: background-color .3s ease-in-out;
        }
      }
      .lesson2 {
        background-color: $lesson2_color;
        transition: background-color .3s ease-in-out;
        &:hover {
          background-color: $lesson2_color_hover;
          transition: background-color .3s ease-in-out;
        }
      }
      .lesson3 {
        background-color: $lesson3_color;
        transition: background-color .3s ease-in-out;
        &:hover {
          background-color: $lesson3_color_hover;
          transition: background-color .3s ease-in-out;
        }
      }
    }
    &-rate {
      &-group {
        width: 100%;
        display: flex;
      }
      &-container {
        width: 50%;
        height: 20px;
        padding: 5px;
      }
      &-background {
        width: 100%;
        height: 100%;
        border: 1px solid rgb(182, 182, 182);
        background-color: rgb(240, 240, 240);
        border-radius: 10px;
        position: relative;
      }
      &-indicator {
        width: 0%;
        transition: width 3s;
        height: 100%;
        background: linear-gradient(#cfffcf, #6fd36f, #6aca6a);
        border-radius: 10px;
        position: absolute;
      }
      &-percentage {
        display: inline-block;
        width: 50%;
        line-height: 20px;
        height: 100%;
        text-align: left;
        padding-left: 8px;
        font-size: 0.9rem;
      }
    }
  }
}
