.li-lessons {
  width: 100vw;
  min-height: 80vh;
  height: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid $border;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  &-title {
    h1 {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 2rem;
    }
  }
  &-area1 {
    width: 100%;
  }
}

@media (max-width: 554px)
{
  .li-lessons-area1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    .li-lesson-group {
      width: 200px;
      height: 230px;
      padding-bottom: 15px;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 30px;
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      img {
        width: 150px;
      }
    }
    .lesson1 {
      background-color: $lesson1_color;
      transition: background-color .3s ease-in-out;
      &:hover {
        background-color: $lesson1_color_hover;
        transition: background-color .3s ease-in-out;
      }
    }
  }
}

@media (min-width: 555px)
{
  .li-lessons-area1 {
    .li-lesson-group {
      float: left;
      width: 200px;
      height: 230px;
      padding-bottom: 15px;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 30px;
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      img {
        width: 150px;
      }
    }
    .lesson1 {
      background-color: $lesson1_color;
      transition: background-color .3s ease-in-out;
      &:hover {
        background-color: $lesson1_color_hover;
        transition: background-color .3s ease-in-out;
      }
    }
  }
}
