#lesson1 {
  position: relative;
  .lesson1 {
    &-tutorial {
      height: 100vh;
      &-title {
        padding: 30px 3%;
        font-size: 2rem;
      }
      &-content {
        height: calc(100% - 96px);
        // Lesson 1_1
        span {
          display: inline-block;
          padding: 0 3%;
          font-size: 1.2rem;
          line-height: 1.8em;
        }
        // Lesson 1_2
        .list-phishing-technique {
          padding: 5% 3%;
          .phishing-technique {
            padding: 15px 10%;
            font-size: 1.3rem;
          }
        }
      }
      &-container {
        width: calc(100% - 20px);
        height: calc(100% - 20px - 60px);
        margin: 10px;
        background: linear-gradient(0.25turn, rgb(255, 203, 203), rgb(255, 230, 230), rgb(255, 203, 203));
      }
    }
  }
}