#lesson1 {
  height: 100vh;
  position: relative;
  .lesson1 {
    &-alert-background {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: rgba(100,100,100, 0.8);
      z-index: 2;
      // Java Script (flex -> none)-----
      display: none;
      // -------------------------------
      justify-content: center;
      align-items: center;
    }
    &-alert-container {
      width: 500px;
      height: 300px;
      background-color: white;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      img {
        width: 150px;
      }
      span {
        display: inline-block;
        margin: 25px 0;
      }
    }
    &-alert-btn {
      width: 80px;
      height: 38px;
      color: white;
      text-align: center;
      background-color: $theme_color1;
      border-radius: 3px;
    }
  }
}