#lesson1 {
  position: relative;
  .lesson-header {
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    display: flex;
    &-logo {
      height: 59px;
      margin-left: 10px;
    }

    h2 {
      padding-left: 30px;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
    }
  }
  .lesson1 {
    &-alert-background {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: rgba(100,100,100, 0.8);
      z-index: 2;
      // Java Script (flex -> none)-----
      display: none;
      // -------------------------------
      justify-content: center;
      align-items: center;
    }
    &-alert-container {
      width: 500px;
      height: 300px;
      background-color: white;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      img {
        width: 150px;
      }
      span {
        display: inline-block;
        margin: 25px 0;
      }
    }
    &-alert-btn {
      width: 80px;
      height: 38px;
      color: white;
      text-align: center;
      background-color: $theme_color1;
      border-radius: 3px;
    }
    &-tutorial {
      height: 100vh;
      &-container {
        width: calc(100% - 20px);
        height: calc(100% - 20px - 60px);
        margin: 10px;
        background: linear-gradient(0.25turn, rgb(255, 203, 203), rgb(255, 230, 230), rgb(255, 203, 203));
        // Lesson common
        .lesson-tutorial-area {
          width: 70%;
          height: calc(100% - 95px);
          margin: 0 auto;
        }
        .page-btn {
          position: relative;
          height: 80px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 50px;
          .slide-btn-end {
            opacity: 0.5;
            margin: 0 25px;
          }
          button {
            margin: 0 25px;
          }
          img {
            height: 20px;
          }
        }
      }
      &-indicator-container {
        height: 15px;
        background-color: rgb(70, 70, 70);
        display: flex;
        justify-content: center;
        align-items: center;
        &-backgournd {
          width: 98%;
          height: 9px;
          border-radius: 3px;
          background-color: rgb(165, 165, 165);
          position: relative;
        }
      }
    }
  }
  .lesson-end {
    display: flex;
    justify-content: center;
    align-items: center;
    &-content {
      display: inline-block;
      text-align: center;
      position: relative;
      h2 {
        font-size: 1.5rem;
        line-height: 1.5em;
      }
      p {
        font-size: 0.8rem;
        opacity: 0.8;
        padding: 15px 0;
      }
      .to-exercise-btn {
        position: absolute;
        left: 50px;
        button {
          width: 280px;
          height: 60px;
          margin: 10px;
          padding-bottom: 5px;
          border-radius: 10px;
          box-shadow: 0 -5px 0px 0 #974444 inset;
          color: white;
          font-size: 1.2rem;
          background-color: $theme_color1;
          &:active {
            box-shadow: 0 0 0 0;
            padding-bottom: 0;
            margin-top: 15px;
          }
        }
      }
    }
  }
}