.exercise-area {
  // header 60px, footer, 60px
  height: calc(100vh - 120px);
  width: 100vw;
  display: flex;
  background-color: rgb(233, 233, 233);
  // 手順エリア
  .procedure {
    &-container {
      height: calc(100% - 20px);
      margin-top: 10px;
      margin-bottom: 10px;
      width: calc(25% - 20px);
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 5px;
      background-color: white;
    }
    &-header {
      height: 50px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 1px solid rgb(209, 209, 209);
      background-color: rgb(238, 243, 255);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 20px;
    }
    &-icon {
      width: 20px;
      margin-right: 10px;
    }
    // 手順本体のコンポーネントエリア
    &-area {
      // container 100% - header 50px
      height: calc(100% - 50px);
      padding: 30px 15px;
    }
  }
  // 受信トレイ位置の手順
  .procedure {
    height: 100%;
    overflow-y: scroll;
    &-title {
      font-size: 1rem;
      line-height: 2em;
    }
    &-main-text {
      font-size: 0.9rem;
      line-height: 2em;
    }
  }
  .procedure2 {
    .amazon-link {
      &-img-container {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-img {
        width: 75%;
      }
    }
  }
  // 手順の注意事項
  .procedure-caution {
    font-size: 0.4rem;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .exercise-indicator {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
    }
  }
  // 実際に操作するエリア
  .display-container {
    height: calc(100% - 20px);
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(75% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;

    // メール共通
    .phishing-mail {
      width: 100%;
      height: 100%;
      &-header {
        height: 60px;
        border-bottom: 1px solid rgb(209, 209, 209);
        padding-left: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .goodluck-logo {
          height: 40px;
        }
      }
      &-content {
        width: 100%;
        height: calc(100% - 60px);
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
      }
      &-side-bar {
        width: calc(20% - 5px);
        height: 100%;
        margin-right: 5px;
        padding: 5% 3% 5% 0;
        &-list {
          li {
            padding: 4% 0 4% 30px;
            display: flex;
            align-items: center;
            img {
              width: 20px;
              margin: 0 5px;
            }
          }
          &-current {
            background-color: rgb(255, 202, 202);
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            color: rgb(252, 55, 55);
            font-weight: bold;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
      // メールボックス
      &-mails-area {
        width: calc(80% - 5px);
        height: 100%;
        margin-left: 5px;
        overflow-y: scroll;
      }
      &-mails-header {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid rgb(209, 209, 209);;
        &-current {
          width: 30%;
          height: 100%;
          border-bottom: 3px solid rgb(252, 55, 55);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            height: 20px;
            margin: 0 10px;
          }
        }
      }
      &-mails-mail {
        height: 40px;
        padding-left: 10px;
        border-bottom: 1px solid rgb(209, 209, 209);
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        &:hover {
          padding-left: 9px;
          border-top: 1px solid rgb(182, 182, 182);
          border-left: 1px solid rgb(182, 182, 182);
          border-right: 1px solid rgb(182, 182, 182);
          border-bottom: 1px solid rgb(182, 182, 182);
          box-shadow: 0 2px 0 rgb(129, 129, 129);
        }
        .mail-btn {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
      .mail-sender {
        width: 30%;
        font-weight: bold;
      }
      .mail-title {
        width: 70%;
        font-weight: bold;
      }
      .dummy-check-box {
        padding: 0 13px 0 3px;
      }
      .dummy-mails {
        height: 40px;
        width: 100%;
        padding-left: 10px;
        border-bottom: 1px solid rgb(209, 209, 209);
        display: flex;
        align-items: center;
        background-color: rgb(240, 240, 240);
      }

      // メール本文
      &-text {
        width: calc(80% - 5px);
        height: 100%;
        margin-left: 5px;
        &-title {
          width: 100%;
          height: 55px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgb(209, 209, 209);
          h2 {
            font-size: 1.5rem;
          }
        }
        &-content {
          height: calc(100% - 55px);
          &-sender {
            height: 80px;
            padding-left: 15px;
            display: flex;
            align-items: center;
            img {
              height: 40px;
              margin-right: 15px;
            }
          }
          &-body {
            width: 100%;
            padding: 15px 5%;
            line-height: 2.3em;
            p {
              margin-bottom: 30px;
              .phising-link {
                color: blue;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    // 偽Amazon ページ
    .amazon {
      width: 100%;
      height: 100%;
      padding-top: 10px;
      &-logo {
        width: 100%;
        height: 50px;
        text-align: center;
        img {
          height: 50px;
        }
      }
      &-login {
        &-area {
          height: calc(100% - 50px);
          padding-top: 15px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
        }
        &-container {
          // height: 50%;
          width: 35%;
          padding: 2% 3%;
          border: 1px solid rgb(209, 209, 209);
          border-radius: 3px;
        }
        &-title {
          font-size: 1.5rem;
          margin-bottom: 15px;
        }
        // 1ページ目　メールか電話番号
        &-email-or-tel {
          display: block;
          font-size: 0.8rem;
        }
        // 入力欄
        &-input {
          display: block;
          width: 100%;
          height: 35px;
          margin-top: 7px;
          padding-left: 10px;
          padding-right: 10px;
          border: 1px solid #aaa;
          border-radius: 5px;
          box-shadow: 0 1px 0 #aaa inset;
        }
        // ボタン共通
        &-submit {
          display: block;
          width: 100%;
          line-height: 35px;
          font-size: 0.9rem;
          text-align: center;
          background: linear-gradient(#f4dda8, #e8c465);
          border-radius: 5px;
          border: 1px solid #977e3e;
          margin-top: 15px;
          cursor: pointer;
          &:hover {
            background: linear-gradient(#f4dda8, #d8b963);
          }
        }
        // ボタンここまで
        //　メールか電話番号の下の注意事項みたいなやつ
        &-supplement {
          display: block;
          font-size: 0.7rem;
          margin-top: 15px;
          a {
            color: rgb(46, 46, 206);
            line-height: 2em;
          }
        }
        // パスワード入力欄
        // メールか電話番号で入力されたもの
        &-entered-input1 {
          font-size: 0.7rem;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        &-keep-checkbox {
          margin-top: 20px;
          margin-bottom: 5px;
          font-size: 0.7rem;
          input {
            margin-right: 10px;
          }
        }
      }
      // パスワード(Label1 パスワード ---- Label2 パスワードを忘れた場合)
      &-login-password-label {
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
      }
      // Label1 パスワード
      &-login-passowrd {
        font-weight: bold;
      }
      // Label2 パスワードを忘れた場合
      &-login-password-forgot {
        a {
          color: rgb(46, 46, 206);
        }
      }
      // 入力エラー
      // エラーの際に付与されるクラス
      .input-error {
        border: 1px solid rgb(252, 55, 55);
        box-shadow: 0 0 0 3px rgb(247, 200, 200) inset;
      }
      // エラーメッセージ
      .input-error-message {
        font-size: 0.7rem;
        color: rgb(252, 55, 55);
        i {
          display: inline-block;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
    // 404 Not Found ページ
    .not-found {
      padding: 20px 15px;
      h1 {
        font-size: 2rem;
      }
    }
  }
}