@media (max-width: 554px)
{
  #landing-jumbotron {
    padding: 130px 0 0;
    text-align: center;
    .landing{
      &-catch-copy {
        font-size: 1.3rem;
        line-height: 1.8em;
        padding: 0 30px;
      }
      &-users {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 30px;
          height: 30px;
        }
      }
      &-start-btn {
        display: inline-block;
        width: 200px;
        line-height: 48px;
        margin: 20px auto 50px;
        border-radius: 5px;
        background-color: $theme_color1;
        transition: background-color .3s ease-in-out 0s;
        color: white;
        &:hover {
          background-color: $theme_color2;
          transition: all .3s ease-in-out 0s;
        }
      }
      &-hero-image {
        height: 300px;
        background-color: $theme_color2;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 85vw;
        }
      }
    }
  }
}

@media (min-width: 555px) and (max-width: 991px)
{
  #landing-jumbotron {
    padding: 130px 0 0;
    text-align: center;
    .landing {
      &-catch-copy {
        font-size: 1.7rem;
        line-height: 1.8em;
        padding: 0 30px;
      }
      &-users {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 30px;
          height: 30px;
        }
      }
      &-start-btn {
        display: inline-block;
        width: 200px;
        line-height: 48px;
        margin: 20px auto 50px;
        border-radius: 5px;
        background-color: $theme_color1;
        transition: background-color .3s ease-in-out 0s;
        color: white;
        &:hover {
          background-color: $theme_color2;
          transition: all .3s ease-in-out 0s;
        }
      }
      &-hero-image {
        height: 500px;
        background-color: $theme_color2;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 85vw;
        }
      }
    }
  }
}

@media (min-width: 992px)
{
  #landing-jumbotron {
    padding: 130px 0 0;
    text-align: center;
    display: flex;
    flex-flow: column;
    .landing {
      &-catch-copy {
        font-size: 35px;
        line-height: 1.8em;
        padding: 0 30px;
      }
      &-users {
        height: 50px;
        margin: 10px 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 30px;
          height: 30px;
        }
      }
      &-start-btn {
        display: inline-block;
        width: 200px;
        line-height: 48px;
        margin: 20px auto 50px;
        border-radius: 5px;
        background-color: $theme_color1;
        transition: background-color .3s ease-in-out 0s;
        color: white;
        &:hover {
          background-color: $theme_color2;
          transition: all .3s ease-in-out 0s;
        }
      }
      &-hero-image {
        height: 580px;
        background-color: $theme_color2;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 500px;
        }
      }
    }
  }
}