@media (max-width: 554px)
{
  #landing-intro {
    padding: 50px;
    .landing-intro {
      &-plan {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
      }
      &-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        width: 100%;
      }
      &-info {
        grid-column: 1 / -1;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        border-radius: 10px;
        padding: 30px;
        &-image {
          max-width: 250px;
          width: 30%;
          img {
            width: 100%;
          }
        }
        &-content {
          max-width: 250px;
          width: 100%;
          text-align: center;
          margin: 30px 0;
          h3 {
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.5em;
          }
          span {
            display: inline-block;
            font-size: 0.8rem;
            margin: 30px 0;
          }
        }
      }
      &-initial-1, &-initial-2 {
        grid-column: 1 / -1;
        max-width: 500px;
        width: 100%;
        .phishing {
          background-color: rgb(255, 203, 203);
          transition: background-color .3s ease-in-out;
          &:hover {
            background-color: rgb(255, 234, 234);
            transition: background-color .3s ease-in-out;
          }
        }
        .password-list {
          background-color: rgb(209, 212, 255);
          transition: background-color .3s ease-in-out;
          &:hover {
            background-color: rgb(230, 231, 255);
            transition: background-color .3s ease-in-out;
          }
        }
        .phishing, .password-list {
          display: inline-block;
          width: 100%;
          text-align: center;
          padding: 40px 0 60px;
          border-radius: 10px;
          img {
            width: 60%;
          }
          span {
            display: block;
            text-align: center;
            font-size: 1.2rem;
          }
          h4 {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
@media (min-width: 555px) and (max-width: 991px)
{
  #landing-intro {
    padding: 50px;
    .landing-intro {
      &-plan {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
      }
      &-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        width: 100%;
      }
      &-info {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        border-radius: 10px;
        &-image {
          max-width: 275px;
          width: 100%;
          padding: 25px 150px 0 30px;
          img {
            width: 25vw;
          }
        }
        &-content {
          max-width: 275px;
          width: 100%;
          padding: 30px 0 0 35px;
          text-align: center;
          h3 {
            font-size: 0.8rem;
            font-weight: bold;
            line-height: 1.5em;
          }
          span {
            display: inline-block;
            font-size: 0.5rem;
            margin: 30px 0;
          }
        }
      }
      &-initial-1, &-initial-2 {
        max-width: 500px;
        width: 100%;
        .phishing {
          background-color: rgb(255, 203, 203);
          transition: background-color .3s ease-in-out;
          &:hover {
            background-color: rgb(255, 234, 234);
            transition: background-color .3s ease-in-out;
          }
        }
        .password-list {
          background-color: rgb(209, 212, 255);
          transition: background-color .3s ease-in-out;
          &:hover {
            background-color: rgb(230, 231, 255);
            transition: background-color .3s ease-in-out;
          }
        }
        .phishing, .password-list{
          display: inline-block;
          width: 100%;
          text-align: center;
          padding: 40px 0 60px;
          border-radius: 10px;
          img {
            width: 60%;
          }
          span {
            display: block;
            text-align: center;
            font-size: 1.2rem;
            @media (max-width: 667px) {
              font-size: 1rem;
            }
          }
          h4 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

}
@media (min-width: 992px)
{
  #landing-intro {
    padding: 50px;
    .landing-intro {
      &-plan {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
      }
      &-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        width: 100%;
      }
      &-info {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        border-radius: 10px;
        &-image {
          max-width: 500px;
          width: 100%;
          padding: 25px 150px 0 80px;
        }
        &-content {
          max-width: 500px;
          width: 100%;
          padding: 30px 0 0 85px;
          text-align: center;
          h3 {
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.5em;
          }
          span {
            display: inline-block;
            font-size: 1rem;
            margin: 30px 0;
          }
        }
      }
      &-initial-1, &-initial-2 {
        max-width: 500px;
        width: 100%;
        .phishing {
          background-color: rgb(255, 203, 203);
          transition: background-color .3s ease-in-out;
          &:hover {
            background-color: rgb(255, 234, 234);
            transition: background-color .3s ease-in-out;
          }
        }
        .password-list {
          background-color: rgb(209, 212, 255);
          transition: background-color .3s ease-in-out;
          &:hover {
            background-color: rgb(230, 231, 255);
            transition: background-color .3s ease-in-out;
          }
        }
        .phishing, .password-list{
          display: inline-block;
          width: 100%;
          text-align: center;
          padding: 40px 0 60px;
          border-radius: 10px;
          img {
            width: 60%;
          }
          span {
            display: block;
            text-align: left;
            text-align: center;
            font-size: 1.2rem;
          }
          h4 {
            font-size: 2rem;
          }
        }
      }
    }
  }
}