#landing-message {
  .landing-message {
    padding: 120px 5%;
    background-color: rgb(255, 255, 214);
    &-title {
      text-align: center;
      padding: 30px 0;
      color: #111;
      transition: color .5s ease-in-out .5s;
      &:hover {
        color: #888;
        transition: color .5s ease-in-out .5s;
      }
    }
    &-text {
      text-align: center;
      line-height: 2.5em;
      color: #888;
    }
  }
}

@media (max-width: 554px)
{
  #landing-message {
    .landing-message {
      &-title {
        font-size: 1rem;
      }
      &-text {
        font-size: 0.7rem;
      }
    }
  }
}

@media (min-width: 555px) and (max-width: 991px)
{
  #landing-message {
    .landing-message {
      &-title {
        font-size: 1.8rem;
      }
      &-text {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 992px)
{
  #landing-message {
    .landing-message {
      &-title {
        font-size: 2.5rem;
      }
      &-text {
        font-size: 1.2rem;
      }
    }
  }
}