.form-group {
  // formのwidthを必ず指定する
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  // formに特に指定が無い場合、marginは相殺される
  margin-top: 13px;
  margin-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px;
  input {
    width: 100%;
    height: 35px;
    border: 1px solid $border;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.1rem;
  }
  .auth-error {
    font-weight: normal;
    color: $error;
    i {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
// ログインボタン、登録ボタン
.submit-form-group {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  .auth-submit-btn {
    width: 200px;
    height: 40px;
    line-height: 40px;
    border: 1px solid $border;
    border-radius: 5px;
    background-color: $theme_color1;
    text-align: center;
    color: white;
    font-weight: bold;
    // ここでのhoverの指定が(何故か)無効になるので、login, registerそれぞれでhoverのみ指定
  }
}
// 確認メールの再送信アラート
.alert-success {
  color: #36ea1c;
}
// wave.js
#sineCanvas {
  width: 100vw;
  height: 300px;
  margin-top: calc(100vh - 300px);
}