@media (max-width: 554px)
{
  .login {
    padding-top: 90px;
  }
}

@media (min-width: 555px) and (max-width: 991px)
{
  .login {
    padding-top: 90px;
  }
}

@media (min-width: 992px)
{
  .login {
    padding-top: 90px;
  }
}