.reset {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  &-container {
    max-width: 600px;
    width: 100%;
    height: 400px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid $border;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.7);
  }
  &-header {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5rem;
  }
  // submitボタンのスタイルはcommonで指定(hoverが何故か無効なのでここで指定)
  .submit-form-group {
    .auth-submit-btn{
      transition: background-color .3s;
      &:hover {
        background-color: $theme_color_hover;
        transition: background-color .3s;
      }
    }
  }
}