#footer {
  height: 300px;
  .footer {
    &-container {
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      padding-top: 220px;
      img {
        display: inline-block;
        height: 40px;
      }
      span {
        display: inline-block;
        line-height: 40px;
      }
    }
  }
}