@media (max-width: 554px)
{
  #main {
    position: relative;
    .landing {
      &-header {
        width: 100vw;
        height: 90px;
        padding: 27px 32px;
        background-color: white;
        position: fixed;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        .header-logo {
          img {
            height: 36px;
          }
        }
        &-full-logo {
          display: none;
        }
        .header-nav {
          display: flex;
          align-items: center;
          font-size: 0.75rem;
          .nav-item {
            line-height: 30px;
            padding: 0 15px;
          }
          .nav-login {
            margin: 0 8px;
          }
          .nav-register, .nav-logout {
            background-color: $theme_color1;
            color: white;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

@media (min-width: 555px) and (max-width: 991px)
{
  #main {
    position: relative;
    .landing {
      &-header {
        width: 100vw;
        height: 90px;
        padding: 27px 32px;
        background-color: white;
        position: fixed;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        .header-logo {
          img {
            height: 36px;
          }
        }
        &-small-logo {
          display: none;
        }
        .header-nav {
          display: flex;
          align-items: center;
          font-size: 0.75rem;
          .nav-item {
            line-height: 30px;
            padding: 0 15px;
          }
          .nav-login {
            margin: 0 8px;
          }
          .nav-register, .nav-logout {
            background-color: $theme_color1;
            color: white;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px)
{
  #main {
    position: relative;
    .landing {
      &-header {
        width: 100vw;
        height: 90px;
        padding: 27px 32px;
        background-color: white;
        position: fixed;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        .header-logo {
          img {
            height: 36px;
          }
        }
        &-small-logo {
          display: none;
        }
        .header-nav {
          display: flex;
          align-items: center;
          font-size: 0.75rem;
          .nav-item {
            line-height: 30px;
            padding: 0 15px;
          }
          .nav-login {
            margin: 0 8px;
            cursor: pointer;
          }
          .nav-register, .nav-logout {
            background-color: $theme_color1;
            color: white;
            border-radius: 3px;
          }
        }
      }
    }
  }
}