@media (min-width: 992px)
{
  body {
    background-color: blue;
  }
}

@media (max-width: 991px)
{
  body {
    background-color: red;
  }
}

@media (max-width: 554px)
{
  body {
    background-color: green;
  }
}